@import "tailwindcss";

@font-face {
  font-family: 'SpotifyMixUI';
  src: url('/fonts/SpotifyMixUI-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xxs: 390px;
  --breakpoint-xs: 600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SpotifyMixUI', Helvetica, sans-serif;
}

html,
body {
  -ms-overflow-style: none;  /* IE dan Edge lama */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.glass-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.hover-grow {
  transition: transform 0.2s ease;
}
.hover-grow:hover {
  transform: scale(1.03);
}

.custom-blur {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.kontener {
  width: 100%;
  @media (width >= 1300px /* 1536px */) {
      max-width: 1300px  /* 1536px */;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.carousel-container {
  transition: transform 0.3s ease-in-out;
}